/* ### STUDY ### */

.word {
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.word:hover {
    background-color: #212529;
    color: #ffffff;
}

.word-active {
    background-color: #212529;
    color: #ffffff;
}

.tools {
    width: 220px;
    background-color: #212529;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 8px;
    margin-top: 8px;
    display: none;
}

.tools-colors {
    padding: 0;
}

.tools .tools-colors div {
    float: left;
    margin: 0 5px 0 0;
}

.tools .tools-colors input {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;

    /* send value to the freakin moon */
    text-indent: -9999px;
}

.color-1 {
    color: #ffffff;
    background-color: #247BA0;
}

.color-2 {
    background-color: #70C1B3;
}

.color-3 {
    background-color: #F3FFBD;
}

.color-4 {
    background-color: #F7AA97;
}

.color-5 {
    color: #ffffff;
    background-color: #FF1654;
}

.translation-underline {
    border-bottom: 1px dotted #212529;
}

#keymap {
    width: 40px;
    height: 40px;
    color: #aaa;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1.3em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    #keymap {
        display: none;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    #keymap {
        display: none;
    }
}

/* ### HOME ### */

[data-target="toggle-star"] {
    cursor: pointer;
}

.unstarred {
    color: #aaa;
}

.starred {
    color: #d4af37;
}

/* ### PLAYER ### */

#player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}

#actions {
    text-align: center;
}

#actions .list-unstyled {
    display: inline-block;
}

#actions ul li {
    float: left;
    padding: 0 30px;
    cursor: pointer;
}

#actions ul li#action-jump-left {
    transform: rotate(45deg);
}

#actions ul li#action-jump-right {
    transform: rotate(-45deg);
}

#actions ul li#action-jump-left,
#actions ul li#action-jump-right {
    padding-top: 15px;
    font-size: 2.5em;
}

#actions ul li#action-toggle-play {
    font-size: 4em;
}

#text-content {
    padding-bottom: 150px;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    text-align: center;
    padding: 30px 0;
}

#text-content-text {
    font-size: 1.4em;
    line-height: 50px;
}

#progress-bar-wrapper {
    width: 100%;
    cursor: pointer;
    height: 12px;
}

#progress-bar {
    height: 8px;
    width: 0;
    background-color: black;
}

/* ### LOADING SPINNER ### */

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
