{% extends "base.twig" %}

{% block title %}Alle Sprachen{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="py-5">Alle Sprachen</h1>

        <table class="table" id="text-list">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Datum</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                {% for language in languages %}
                    <tr>
                        <td>{{ language.title }}</td>
                        <td>{{ language.created }}</td>
                        <td class="text-sm-right">
                            <a href="/study/{{ language.id }}" class="btn btn-primary btn-sm">
                                <span class="oi oi-media-play"></span>
                            </a>
                            <a href="/language/delete/{{ language.id }}" class="btn btn-danger btn-sm">
                                <span class="oi oi-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}

<script>
$(function () {
    $('#language-list').DataTable();
})
</script>

{% endblock %}
