{% extends "base.twig" %}

{% block title %}Alle Sprachen{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="py-5">Alle Sprachen</h1>

        <div class="row">
            <div class="col-12 pb-5 text-right">
                <a href="/language/new" class="btn btn-primary">Neue Sprache</a>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-12">
                <table class="table" id="language-list">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Datum</th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for language in languages %}
                            <tr>
                                <td>{{ language.title }}</td>
                                <td>{{ language.created|date("d.m.Y") }}</td>
                                <td class="text-sm-right">
                                    <a href="/language/delete/{{ language.id }}" class="btn btn-danger btn-sm">
                                        <span class="oi oi-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

<script>
$(LanguagePage.init);
</script>

{% endblock %}
