{% extends "base.twig" %}

{% block title %}Study{% endblock %}

{% block content %}
    <div class="container">
        <div id="text-content">
            <h1 class="display-4">{{ title|default('kein Titel vorhanden') }}</h1>

            <div id="text-content-text">
                {{ paragraphs|default('kein Text vorhanden')|raw }}
            </div>
        </div>
    </div>

    <div class="tools">
        <div class="tools-translate">
            <div class="input-group mb-3">
                <input class="form-control form-control-sm" type="text" placeholder="Übersetzung">

                <div class="input-group-append">
                    <button
                        class="btn btn-outline-secondary btn-sm"
                        type="button"
                        id="button-addon2">
                        <span class="oi oi-check"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row"></div>

        <div class="tools-colors">
            <div>
                <input
                    type="button"
                    name="text-word-color"
                    style="background-color: #ffffff;"
                    value="0">
            </div>
            <div>
                <input
                    type="button"
                    name="text-word-color"
                    class="color-1"
                    value="1">
            </div>
            <div>
                <input
                    type="button"
                    name="text-word-color"
                    class="color-2"
                    value="2">
            </div>
            <div>
                <input
                    type="button"
                    name="text-word-color"
                    class="color-3"
                    value="3">
            </div>
            <div>
                <input
                    type="button"
                    name="text-word-color"
                    class="color-4"
                    value="4">
            </div>
            <div>
                <input
                    type="button"
                    name="text-word-color"
                    class="color-5"
                    value="5">
            </div>
        </div>
    </div>

    <div id="player">
        <div id="progress-bar-wrapper">
            <div id="progress-bar"></div>
        </div>

        <div id="actions">
            <ul class="list-unstyled">
                <li id="action-jump-left">
                    <span class="oi oi-action-undo"></span>
                </li>

                <li id="action-toggle-play">
                    <span class="oi oi-media-play"></span>
                </li>

                <li id="action-jump-right">
                    <span class="oi oi-action-redo"></span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
    $(function () {
        Study.init('{{ audio }}');
    });
    </script>
{% endblock %}
